.attorney__bg {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(./images/laywer1.jpg) center;
  background-size: cover;
  height: 30rem;
  background-repeat: no-repeat;
}

.read__more__button {
  outline: 0;
  bottom: -3rem;
  transition: all 0.3s linear;
}

.attorney1:hover .read__more__button {
  transform: translateY(-100px);
}

.attorney__img__bg {
  height: 50rem;
  width: 30rem;
}

.practice-areas {
  color: #7a7a7a;
}

.list__parent {
  font-size: 0.9rem;
}

.education {
  height: 20rem;
  padding-inline: 10rem;
}

.education ul li {
  color: #7a7a7a;
  font-size: 0.9rem;
}
